body {
  font-size: 16px;
  line-height: 1.8;
  color: $default;
  @include dmsans(400);
  background-color: #ffffff;
}

.button {
  background-color: $button;
  padding: 20px 95px;
  color: #ffffff;
  @include rubik(500);
  border: 0;
  transition: background-color 0.5s;


  &:focus,
  &:hover,
  &:active {
    background-color: #b3ccd9;
  }

  &:hover {
    &::after {
      animation: arrow-reverse 0.5s linear;
    }
  }

  a {
    display: inline;
  }
}

.button--arrow {
  position: relative;

  align-items: center;
  padding-left: 30px;

  &::after {
    content: "";
    background-image: url(../images/slider/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 9px;
    display: block;
    position: absolute;
    right: 18px;
    bottom: 25px;
  }
}

.title {
  @include dmsans(700);
  font-size: 36px;
  line-height: 1.2;
  color: $title;
  text-align: center;
  @include text-clamp(2);
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;

  &--sm {
    max-width: 1200px;
  }
}

.logo {
  &__img {
    margin-bottom: 15px;
    max-width: 150px;
    max-height: 50px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    @include rubik(500);

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    @include text-clamp(1);
    max-width: 100px;

    &:focus {
      border-bottom: 1px solid $bg;
      color: $button;
    }

    &:hover {
      border-bottom: 1px solid $button;
    }

    &:active {
      color: $button;
      border-color: $button;
    }
  }
}

.footer-form {
  display: flex;


  &__btn {
    padding: 5px 20px;
    width: 100px;
    max-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
  }

  input {
    border: transparent;
    background-color: #fef7f0;
    padding: 0 0 0 15px;
  }

  input::placeholder {
    color: #234969;
    font-size: 12px;
  }
}

.lamp {

  &__img {
    max-width: 235px;
    max-height: 410px;
    transform: translateY(-90px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);

  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);

  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes arrow-reverse {
  0% {
    transform: translateX(0);

  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}