body {
  font-size: 16px;
  line-height: 1.8;
  color: $default;
  @include dmsans(400);
  background-color: #ffffff;

  @include r (990) {
    &.lock {
      overflow: hidden;
    }
  }
}

.button {
  background-color: $button;
  padding: 20px 95px;
  color: #ffffff;
  @include rubik(500);
  border: 0;
  transition: background-color 0.5s;

  @include r (768) {
    padding: 15px 40px;
    font-size: 14px;
  }

  @include r (414) {
    padding: 15px 30px;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: $blue;
  }

  &:hover {
    &::after {
      animation: arrow-reverse 0.5s linear;
    }
  }

  &--arrow {
    position: relative;
    align-items: center;
    padding-left: 30px;

    @include r (768) {

      padding-left: 10px;
    }

    @include r (414) {
      padding-left: 5px;
    }

    &::after {
      content: "";
      background-image: url(../images/content/slider/arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 22px;
      height: 9px;
      display: block;
      position: absolute;
      right: 18px;
      bottom: 25px;

      @include r (768) {
        bottom: 19px;
        right: 10px;
      }

      @include r (414) {
        bottom: 19px;
        right: 3px;

      }
    }
  }
}


.title {
  @include dmsans(700);
  font-size: 36px;
  line-height: 1.2;
  color: $title;
  text-align: center;
  @include text-clamp(2);

  @include r (414) {
    font-size: 24px;
  }
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;

  &--sm {
    max-width: 1200px;
    width: 100%;
  }
}

.logo {
  &__img {
    max-width: 150px;
    max-height: 50px;

    @include r (768) {
      margin: 0 auto 15px;
    }

    @include r (414) {
      max-width: 120px;

    }
  }
}

.menu {
  z-index: 9;

  &__list {
    display: flex;

    &--burger {
      @include r(990) {
        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0.9;
        z-index: -3;
        flex-direction: column;
        align-items: center;
        padding-top: 130px;
        text-align: center;
        transition: 0.7s;
        overflow: auto;
      }

      &.active {
        @include r (990) {
          top: 0;
        }
      }
    }
  }

  &__item {
    @include rubik(500);

    @include r(990) {
      padding: 15px 0;
      width: 100%;
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-right: 35px;

      @include r(1200) {
        margin-right: 25px;
      }

      @include r(990) {
        margin-right: 0;
      }
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

    @include r (990) {
      display: block;
    }

    &:focus {
      border-bottom: 1px solid $bg;
      color: $button;
    }

    &:hover {
      border-bottom: 1px solid $button;
    }

    &:active {
      color: $button;
      border-color: $button;
    }
  }
}

.email-form {
  display: flex;


  &__btn {
    padding: 5px 20px;
    width: 100px;
    max-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
  }

  input {
    border: transparent;
    background-color: $gistext;
    padding: 0 0 0 15px;
  }

  input::placeholder {
    color: #234969;
    font-size: 12px;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);

  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes arrow-reverse {
  0% {
    transform: translateX(0);

  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}