body {
  font-size: 16px;
  line-height: 1.8;
  color: $default;
  @include dmsans(400);
  background-color: #ffffff;
}

.button {
  background-color: $button;
  // width: 200px;
  // height: 60px;
  padding: 20px 95px;
  color: #ffffff;
  @include rubik(500);
  border: 0;
  transition: background-color 0.5s;

  a {
    display: inline;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: #b3ccd9;
  }

  &:hover {
    &::after {
      animation: arrow-reverse 0.5s linear;
    }
  }
}

// a:focus,
// a:active {
//   color: $default;
// }

// input:focus,
// input:hover,
// input:active {
//   color: $default;
// }

.button--arrow {
  position: relative;

  align-items: center;
  padding-left: 30px;

  &::after {
    content: "";
    background-image: url(../images/slider/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 9px;
    display: block;
    position: absolute;
    right: 18px;
    bottom: 25px;
  }
}

.title {
  @include dmsans(700);
  font-size: 36px;
  line-height: 1.2;
  color: $title;
  text-align: center;
  @include text-clamp(2);
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;

  &--sm {
    max-width: 1200px;
  }
}

.form {
  display: flex;

  input {
    border: transparent;
    background-color: #fef7f0;
    padding: 0 0 0 15px;
  }

  input::placeholder {
    color: #234969;
    font-size: 12px;
  }

  &__btn {
    padding: 5px 20px;
    width: 100px;
    max-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
  }
}

.block {

  &__title {
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;

    & li:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__button {
    border: 0;
    background-color: inherit;
    @include dmsans(700);
    color: #8b8b8b;
    transition: color 0.5s;
    overflow: auto;
    max-width: 100px;


    &:focus {
      color: #191919;
    }

    &:hover {
      color: #191919;
    }

    &--active {
      color: #191919;
    }
  }
}

.card {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    min-height: 380px;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    padding: 15px;
    position: relative;

    &:hover {
      .card__box {
        opacity: 1;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: repeat(380px);
    grid-gap: 30px;
    margin-bottom: 80px;

  }

  &__img {
    margin: auto 0;
    object-fit: cover;
    display: flex;
  }

  &__name {
    color: $sofs;
    line-height: 2.5;
    @include dmsans(500);

    h3 {
      font-size: 16px;
      @include text-clamp(1);
    }
  }

  &__price {
    display: block;
    color: $button;
    @include dmsans(700);
    @include text-clamp(1);
    max-width: 150px;
  }

  &__box {
    position: absolute;
    bottom: 150px;
    right: 50px;
    display: flex;
    opacity: 0;
    transition: 0.5s;

    li:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__button,
  &__link {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.5s;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.35);

    &:focus {
      background-color: #a3bac7;

      path {
        fill: #f9fafb;
      }
    }

    &:hover {
      background-color: #a3bac7;

      path {
        transition: fill 0.3s;
        fill: #f9fafb;
      }
    }

    &:active {
      path {
        fill: #f9fafb;
      }

      outline-color:$bg;
    }
  }
}



.lamp {

  &__img {
    max-width: 235px;
    max-height: 410px;
    transform: translateY(-90px);
  }
}

.video-pulse {

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 10px solid $button;
    left: -13px;
    right: -20px;
    top: -13px;
    border-radius: 50%;
    opacity: 0;
    animation: pulse 2s linear infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);

  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);

  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes arrow-reverse {
  0% {
    transform: translateX(0);

  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}