$default: #436372;
$title: #191919;
$button: #a3bbc8;
$sofs: #243f4d;
$bg: #fcd7b6;




@mixin dmsans($weight) {
  font-family: 'DMSans', sans-serif;
  font-weight: $weight;
}

@mixin rubik($weight) {
  font-family: 'Rubik', sans-serif;
  font-weight: $weight;
}

@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}
