@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'components/header';
@import 'components/footer';
@import 'components/filter-card';
@import 'components/insights-partners';
@import 'components/breadcrumbs';
@import 'index-page';


.shop {
  padding: 120px 0;

  &__inner {
    display: flex
  }
}

.filter-shop {
  padding: 0 0 120px 0;
  margin-right: 30px;
  color: $sofs;
  max-width: 270px;
  width: 100%;

  &__title {
    @include dmsans(700);
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;

    &:after {
      content: "";
      border-bottom: 2px solid $button;
      max-width: 40px;
      width: 100%;
      position: absolute;
      top: 16px;
      transform: translateX(15px);
    }
  }

  &__items {
    margin-bottom: 45px;

    li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__item {
    cursor: pointer;
  }

  &__input {
    @include checkbox-hidden;

    &:checked+.filter-shop__checkbox {
      background-color: $whitebg;
      padding: 6px 215px 6px 15px;
      border-radius: 5px;

      &::after {
        animation: arrow-reverse 0.5s linear;
      }
    }

    &:checked+.filter-shop__checkbox--numb {
      padding: 6px 20px 6px 15px;

      span:last-child {
        color: $sofs;
      }
    }
  }

  &__checkbox {
    color: $sofs;
    border-radius: 5px;
    @include rubik(400);
    transition: background 0.5s;
    position: relative;
    padding: 6px 215px 6px 15px;
    max-width: 270px;
    width: 100%;
    display: block;
    margin-bottom: 5px;

    &::after {
      content: "";
      background-image: url(../images/content/insights/arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 6px;
      height: 10px;
      display: block;
      position: absolute;
      right: 20px;
      top: 15px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $whitebg;
    }
  }

  &__checkbox--numb {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px 6px 15px;

    span:last-child {
      color: #b3b3b3;
    }

    &::after {
      content: "";
      display: none;
    }
  }

  &__price {
    position: relative;
  }
}

.price-line {
  margin-bottom: 75px;

  &__lable {
    display: flex;
    justify-content: space-between;
  }

  &__from,
  &__to {
    @include rubik(400);
    color: #334c59;

    &::before {
      content: "$";
    }

    &::after {
      content: ".00";
    }
  }
}

.irs--flat .irs-line {
  height: 2px;
  background-color: #c2d2db;
  top: 6px;
}

.irs--flat .irs-bar {
  background-color: $button;
  height: 4px;
  top: 5px;
}

.irs--flat {
  height: 30px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-handle {
  width: 15px;
  height: 15px;
  background-color: $button;
  top: 0px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.filter-top {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: flex-start;

  &__buttons {
    display: flex;

    span {
      margin-right: 15px;
      @include rubik(400);
      color: $sofs;
    }
  }

  &__button {
    background-color: inherit;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    line-height: 0;

    svg {
      transition: fill 0.5s;

      &:focus,
      &:hover,
      &:active {
        fill: $button;
      }

    }

    &.filter-top__button--active {
      svg {
        fill: $button;
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__wrapper {
    max-width: 870px;
    width: 100%;
  }
}

.jq-selectbox {

  &:first-child {
    margin-right: 30px;
  }

  &__select {
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    @include rubik(400);
    color: $sofs;
    padding: 0 30px 0 0;

    &:hover {
      background: none;
    }
  }

  &__select-text {
    overflow: inherit;
    margin-right: 5px;
  }

  &__trigger {
    border-left: none;
  }

  &__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url(../images/content/icons/arrow-down.svg);
  }
}

.jq-ry-rated-group.jq-ry-group {
  display: none;
}

.jq-ry-normal-group.jq-ry-group {
  width: 160px;

  svg {
    margin-right: 13px;
  }
}

.filter-shop {

  &__inner {
    display: flex;
    margin-bottom: 15px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }

  &__img {
    width: 70px;
    height: 70px;
    border: 2px solid #f2f2f2;
    margin-right: 15px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__subtitle {
    @include rubik (400);
    font-size: 14px;
    line-height: 16px;
    color: $listcolor;
  }

  &__price {
    font-size: 15px;
    line-height: 27px;
    color: $listcolor;
    @include rubik (400);

    &.product__item--list {
      margin-bottom: 15px;
    }
  }

  &__stars {
    &.jq-ry-normal-group.jq-ry-group {
      svg {
        margin-right: 8px;
      }
    }
  }
}