.filter {

  &__list {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    overflow: auto;

    @include r (414) {
      font-size: 14px;
      margin-bottom: 50px;
    }

    li {
      &:not(:last-child) {
        margin-right: 15px;

        @include r (414) {
          margin-right: 0px;
        }
      }
    }
  }

  &__button {
    border: 0;
    background-color: inherit;
    @include dmsans(700);
    color: #8b8b8b;
    transition: color 0.5s;
    overflow: auto;
    max-width: 100px;


    &:focus {
      color: $blockcolor;
    }

    &:hover {
      color: $blockcolor;
    }

    &--active {
      color: $blockcolor;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  width: 100%;
  min-height: 380px;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
  padding: 10px 25px 30px 25px;
  position: relative;

  &:hover {
    .card__box {
      opacity: 1;
    }
  }


  &__img {
    margin: auto 0;
    object-fit: cover;
    display: flex;
  }

  &__name {
    color: $sofs;
    line-height: 2.5;
    font-size: 16px;
    @include dmsans(500);
    @include text-clamp(1);
  }

  &__price {
    display: block;
    color: $button;
    @include dmsans(700);
    @include text-clamp(1);
    max-width: 150px;
  }

  &__box {
    position: absolute;
    bottom: 150px;
    right: 50px;
    display: flex;
    opacity: 0;
    transition: 0.5s;

    li {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__button,
  &__link {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.5s;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.35);

    &:focus {
      background-color: $buttonhover;

      svg {
        fill: $fillsvg;
      }
    }

    &:hover {
      background-color: $buttonhover;

      svg {
        transition: fill 0.3s;
        fill: $fillsvg;
      }
    }

    &:active {
      svg {
        fill: $fillsvg;
      }

      outline-color:$default;
    }
  }
}