.header {
  padding: 50px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s;

  @include r (768) {
    padding: 20px 0;
  }

  &.sticky {
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r (768) {
      flex-wrap: wrap;
    }
  }


  & .menu__list {
    @include r(990) {
      position: fixed;
      top: -200%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      opacity: 0.9;
      z-index: -3;
      flex-direction: column;
      align-items: center;
      padding-top: 130px;
      text-align: center;
      transition: top 0.7s;
      overflow: auto;
    }

    &.active {
      @include r (990) {
        top: 0;
      }
    }
  }

  &__logo {
    margin-right: 135px;
    width: 146px;
    height: 39px;
    z-index: 10;

    @include r(1200) {
      margin-right: 0;
    }

    @include r(990) {
      margin-right: auto;
    }
  }

  &__burger {
    display: none;
    border: 0;
    background-color: inherit;
    width: 35px;
    height: 26px;
    padding: 0;
    position: relative;
    order: 1;
    z-index: 10;

    @include r(990) {
      display: flex;
      margin-right: 15px;
    }

    @include r(768) {
      order: 0;
    }

    &.active {
      transition: transform 0.5s;

      &::before {
        transform: rotate(45deg);
        bottom: 12px;
      }

      &::after {
        transform: rotate(-45deg);
        top: 11px;
      }

      span {
        transform: scale(0);
      }
    }

    &::after,
    &::before {
      content: "";
      width: 100%;
      height: 3px;
      background-color: $button;
      position: absolute;
      transition: transform 0.5s;

    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }

    span {
      width: 100%;
      height: 3px;
      background-color: $button;
      position: absolute;
      top: 12px;
      transition: transform 0.5s;
    }
  }

  &__slider {
    border: 0;
    padding: 25px 25px;
    border-radius: 50%;
    transition: background-color 0.5s;
    background-color: $button;
    position: relative;
    display: none;

    @include r (768) {
      display: block;
    }

    &:focus,
    &:hover,
    &:active {
      background-color: $blue;
    }

    svg {
      position: absolute;
      top: 13px;
      left: 12px;
      transform: rotate(90deg);
      fill: #ffffff;
      width: 25px;
      height: 25px;
    }
  }
}

.header-actions {
  display: flex;
  z-index: 10;

  @include r(990) {
    margin-right: 15px;
  }

  @include r(768) {
    transform: rotate(90deg);
    position: absolute;
    right: -67px;
    top: 170px;
    margin-right: -15px;


    svg {
      transform: rotate(-90deg);
    }
  }

  &__btn {
    border: 0;
    padding: 15px 17px;
    border-radius: 50%;
    transition: background-color 0.5s;

    &:first-child {
      background-color: $whitebg;
    }

    &:last-child {
      background-color: #a3bbc8;
    }

    &:focus,
    &:hover,
    &:active {
      svg {
        fill: $blue;
      }
    }

    svg {
      transition: fill 0.5s;
    }

  }



  &__wrapper {
    background-color: $bg;
    position: relative;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: 0;

    @include r(1200) {
      width: 150px;
    }

    @include r(990) {
      width: 120px;
    }

    .header-actions__btn {
      background-color: $bg;
      position: relative;
    }
  }

  &__count {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 9px;
    left: 28px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    line-height: 2.7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $sofs;

    @include r (768) {
      top: 5px;
      left: 10px;
      transform: rotate(90deg);
    }
  }

  &__border {
    border: 1px solid $whitebg;
    height: 32px;
    position: absolute;
    left: 90px;

    @include r(1200) {
      left: 75px;
    }

    @include r(990) {
      left: 60px;
    }
  }

  &__wrapper,
  &__btn {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 15px;

      @include r(1200) {
        margin-right: 10px;
      }
    }
  }
}


@keyframes user {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}