.about {
  &__inner {
    padding: 120px 0 190px;
    display: flex;

    @include r (990) {
      flex-direction: column;
      align-items: center;
      padding: 75px 0;
    }

    @include r (768) {
      padding: 50px 0;
    }
  }

  &__image {
    max-width: 570px;
    width: 100%;
    max-height: 675px;
  }

  &__wrapper {
    max-width: 600px;
    padding: 15px 0px 15px 45px;

    @include r (1200) {
      width: 55%;
      padding: 15px 0px 15px 30px;
    }

    @include r (990) {
      background-color: rgba(250, 250, 250, 0.93);
      width: 100%;
      max-width: 900px;
      border-radius: 25px;
      padding: 15px 0px 35px 30px;
    }

    @include r (414) {
      padding: 15px 20px 35px;

    }
  }

  &__experience {
    display: flex;
    align-items: center;
    color: $sofs;

    span {
      font-size: 140px;
      line-height: 1.6;
      @include rubik (700);
      @include text-clamp(1);
      color: $button;

      margin-right: 25px;

      @include r (414) {
        margin-right: 10px;

      }
    }

    p {
      max-width: 85px;
      @include rubik(400);
      @include text-clamp(5);
    }
  }


  &__title {
    text-align: start;
    margin-bottom: 50px;
    color: $sofs;
  }

  &__text {
    @include rubik(400);
    margin-bottom: 45px;
    @include text-clamp(7);

    @include r (414) {
      @include text-clamp(15);
    }
  }

  &__statistic {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e6eaf0;

    @include r (414) {
      flex-wrap: wrap;
    }

  }

  &__description {
    font-size: 36px;
    line-height: 1;
    color: $sofs;
    position: relative;
    @include dmsans(700);
    max-width: 150px;
    padding-top: 40px;

    @include r (1200) {
      font-size: 22px;
    }

    @include r (414) {
      padding: 40px 40px 0;
      margin: 0 auto;
    }


    &:last-child {
      margin-right: -25px;

      @include r (414) {
        margin: 0 auto;
      }

    }

    &::before {
      content: "";
      background-size: cover;
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
      position: absolute;
    }

    &--text {
      &::before {
        background-image: url(../images/content/about/icon1.png);
        left: -55px;
        width: 36px;
        height: 36px;

        @include r (414) {
          left: -5px;
        }
      }
    }

    &--fonor {
      &::before {
        background-image: url(../images/content/about/icon2.png);
        left: -65px;
        width: 45px;
        height: 40px;

        @include r (414) {
          left: -5px;
        }
      }
    }

    &--first {
      &::before {
        background-image: url(../images/content/about/icon3.png);
        left: -60px;
        width: 40px;
        height: 40px;

        @include r (414) {
          left: -5px;
        }

      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        width: 1px;
        height: 81px;
        background-color: #e6eaf0;
        position: absolute;
        right: -28px;
        top: 30px;

        @include r (990) {
          right: -80px;
        }

        @include r (768) {
          display: none;
        }
      }
    }

    strong {
      @include text-clamp(1);
    }

    span {
      color: #4c4c4c;
      font-size: 16px;
      display: block;
      padding-top: 10px;
      @include text-clamp(1);


      @include r (1200) {
        font-size: 14px;
      }
    }
  }
}