.design {

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    grid-template-rows: repeat(auto-fill, 245px);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
    margin-bottom: 120px;
    justify-content: center;

    @include r (768) {
      margin-bottom: 70px;
    }

    @include r (414) {
      grid-template-columns: repeat(auto-fill, 315px);
    }
  }

  &__title {
    margin-bottom: 25px;
  }
}

.design-card {
  padding: 30px 30px 30px 35px;
  background-color: #f8f8f8;
  max-width: 370px;
  width: 100%;
  height: 245px;
  position: relative;
  @include dmsans(700);
  transition: opacity 0.5s;

  @include r (414) {
    max-width: 345px;
  }

  &:hover {
    opacity: 0.9;
  }


  &__subtitle {
    font-size: 20px;
    line-height: 1.2;
    color: $title;
    max-width: 180px;
    @include text-clamp(2);
    transition: color 0.5s;

    &:focus,
    &:hover,
    &:active {
      color: $default;
    }
  }

  &__categori {
    color: $button;
    display: block;
    padding-top: 15px;
    @include text-clamp(1);

  }

  &__img {
    position: absolute;
    right: 0px;
    bottom: 40px;
    max-width: 280px;
    max-height: 178px;

    @include r (414) {
      bottom: 12px;
    }


    &--rattan {
      right: 55px;
      bottom: 50px;
      max-width: 115px;
      height: 145px;

      @include r (414) {
        bottom: 30px;
      }
    }

    &--rocking {
      right: 30px;
      bottom: 30px;
      max-width: 142px;
      height: 178px;

      @include r (414) {
        bottom: 40px;
      }
    }
  }
}