.service {
  &__inner {
    padding: 45px 0;
    background-color: $gistext;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    color: #585858;
    position: relative;
    max-width: 280px;
    line-height: 1.9;
    padding-left: 50px;

    &:not(:last-child) {
      @include r (768) {
        margin-bottom: 50px;
      }
    }

    &::after {
      content: "";
      border-radius: 50%;
      background-color: rgb(163, 187, 200);
      opacity: 0.341;
      width: 20px;
      height: 21px;
      position: absolute;
      top: 35px;
      left: 12px;

      @include r (414) {
        left: 25px;
      }
    }

    &::before {
      content: "";
      background-image: url(../images/content/hours.png);
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      position: absolute;
      left: -20px;
      top: 0;

      @include r (414) {
        left: -5px;
      }
    }

    &--car {

      &::after {
        top: 28px;
        left: 8px;

        @include r (414){
          left: 15px;
        }
      }

      &::before {
        background-image: url(../images/content/delivery-truck.png);
        left: -25px;
        top: 10px;

        @include r (414) {
          left: -15px;
        }
      }
    }

    &--credit {
      &::before {
        background-image: url(../images/content/credit-card.png);
      }
    }
  }

  &__title {
    @include dmsans(700);
    font-size: 18px;
    line-height: 2.2;
    @include text-clamp(2);
  }

  &__sub {
    @include text-clamp(3);

    span {
      display: block;
    }
  }
}